@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
    background-attachment: fixed; 
    background-size: cover;
    height: 100vh;   
}
#container{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-dark5);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}
.content{
    position:relative;
}
#container .content{
    max-width: 600px;
    text-align: center;
}
#container .content h2{
    font-size: 18vw;
    color: var(--color-Ice);
    line-height: 1em;
}
#container .content h4{
    position: relative;
    font-size: 1.9em;
    margin-bottom: 20px;
    color: var(--color-dark2);
    background: var(--color-Ice);
    font-weight: 300px;
    padding: 10px, 20px;
    display: inline-block;
}
#container .content p{
    color: var(--color-Ice);
    font-size: 1.1em;

}
#container .content a{
    position: relative;
    display: inline-block;
    padding: 10px, 25px;
    background: #ff0562;
    color: var(--color-Ice);
    text-decoration: none;
    margin-top: 25px;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56;
    
}